@import 'variables';

.skills-view {
  padding: 5%;
  position: absolute;
  background-color: $tertiary-beige;
  min-height: 92%;
  width: 100%;

    & img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
      border-radius: 15px;
      background-color: $tertiary-beige;
      border: 5px solid black;
    }

  & .short-blurb-container{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  & .skills-heading {
    font-weight: bold;
    margin-top: 5%;
  }
  & .skills-list-container {
    display: flex;
    justify-content: center;
    & .skills-list {
      text-align: left;
    }
  }

}



