$background-theme: #C6D4FF;
$primary-green: #12664F;
$light-green: #307473;
$turquoise: #7a82ab;
$green-gray: #2dc2bd;

$primary-green: #424827;
$chestnut: #884A39;
$caramel: #C38154;
$tertiary-beige: #F1ECE5;